body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

header {
  background: #343a40;
  height: 5vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.logo {
  background-image: url("./assets/images/code.png");
}

.main-nav a,
.navbar span {
  padding: 0.75vh 1vh;
}

.main-nav a {
  font-size: 1.5vh;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  display: block;
  transition: 0.2s;
  border: 3px solid transparent;
  border-radius: 0.25vh;
  margin: 0.5vh 0.5vh;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #28a745;
}
