@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./assets/fonts/PressStart2P-Regular.ttf);
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.navbar a {
  font-size: 1.5vh;
  padding: 1.5vh 1vh;
  color: #f1c40f;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  font-weight: 400;
  border: 3px solid transparent;
  border-radius: 0.25vh;
  margin: 4vh 0.5vh 0vh;
  letter-spacing: 0.3vh;
}

.name {
  font-size: 2.5vh;
  padding: 1.5vh 1vh;
  color: #ecf0f1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  font-weight: 400;
  border: 3px solid transparent;
  border-radius: 0.25vh;
  margin: 4vh 0.5vh;
  letter-spacing: 0.3vh;
}

.navbar a:hover,
.navbar .active {
  color: #ecf0f1;
  transform: scale(1.1);
}
